.movie_section {
  display: flex;
  justify-content: flex-start;
}

.img {
  display: block;
  padding: 0px 25px;
}

.genres {
  margin-right: 10px;
}

.button_back {
  display: block;
  margin: 10px 0px 10px 25px;
}

.section_more {
  padding: 0px 25px;
  border-bottom: 1px solid #000;
}

.header {
  width: 300px;
  text-align: center;
}

.nav {
  width: 300px;
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}
